.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--dark-50);
  box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.2);
  gap: 8px;
  width: 280px;
  min-height: 320px;
}

.card .divider {
  height: 1px;
  width: 100%;
  background-color: var(--dark-200);
}

.card span {
  font-weight: 700;
  font-size: 14px;
  color: var(--red);
}

.card span.opened {
  color: var(--green);
}

.card h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--dark-800);
}

.card p {
  font-size: 14px;
  color: var(--dark-600);
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.card li {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  color: var(--dark-600);
}

.card li b {
  font-size: 16px;
  color: var(--dark-800);
}

.card img {
  width: 50px;
}
