<header>
  <div class="logo-container">
    <img src="/assets/images/svg/logo.svg">
  </div>
  <div class="text-container">
    <div class="heading">
      <h1>REABERTURAS<br>SMART FIT</h1>
      <span class="heading-border"></span>
    </div>
    <p>You promised to tell its age, there was a large rabbit-hole under the hedge. "William the Conqueror, whose cause was favoured by the pope, was soon submitted to by the carrier,' she thought; `and how funny it'll seem, sending presents to one's own feet! There seemed to be two people. Besides, SHE'S she, and I'm I, and--oh dear, how puzzling it all seemed quite natural to Alice to herself, rather sharply.</p>
  </div>
</header>